@{
    Layout = "/Views/Shared/_HomeLayout.cshtml";
}

    <div class="login-page">
		<div class="container">
			<div class="account_grid">
				<div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
					<h3>NEW CUSTOMERS</h3>
					<p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
					<a class="acount-btn" href="/Home/register">Create an Account</a>
			   </div>
			   <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
					<h3>REGISTERED CUSTOMERS</h3>
					<p>If you have an account with us, please log in.</p>
					<form method="post" id="loginForm" action="/Home/login" onsubmit="return f1 ()">
						<div>
							<span>Email Address<label>*</label></span>
							<input id="em" name="emailTab" type="text"> 
						</div>
						<div>
							<span>Password<label>*</label></span>
							<input id="pwd" type="password"> 
						</div>
						<label id="check" style="color:red"></label>
						<input type="submit" value="Login">
					</form>
			   </div>	
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

    @Scripts.Render("~/bundles/jquery");
    <script>
        function dekho(callback) {
              $.getJSON('/Home/CheckSignIn', { "email": $('#em').val(), "pwd": $('#pwd').val() },
                function (d) {
                    alert(d);
                    callback(d);
                });
                
              return false;
        }

        function f1()
        {
            dekho(function (value)
            {
                alert(value);
                    if (value==false) {
                        alert("Invalid Username/Password");
                        return false;
                    }

                    else
                        return true;
                }
           );
        }
    </script>